<?xml version  =  "1.0" encoding = "UTF-8" ?>
<beans  xmlns  = "http://www.springframework.org/schema/beans"
        xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class = "com.example.geekbang.week5.bean_assembly.Book" id = "book1">
        <property name="id" value="1111"/>
        <property name="name" value="水浒传"/>
        <property name="price" value="77.7"/>
    </bean>

    <bean class = "com.example.geekbang.week5.bean_assembly.Book" id = "book2">
        <property name="id" value="2222"/>
        <property name="name" value="红楼梦"/>
        <property name="price" value="88.8"/>
    </bean>

</beans>